.contentContainer {
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
}

.group1 {
    display: flex;
    flex-direction: column;
    gap: 0.31rem;
}

.group2 {
    font-style: italic;
}

.group3 {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.rating {
    display: flex;
    gap: 0.62rem;
}

.hotelName {
    display: flex;
    flex-direction: row;
    gap: 0.62rem;
    align-items: baseline;
}

.address {
    display: flex;
    flex-direction: row;
    gap: 0.31rem;
    align-items: center;
}