.container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.overallScore {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: last baseline;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
}

.componentScore {
    display: grid;
    grid-template-columns: repeat(2, 6.5rem);
    grid-template-rows: repeat(3, 0.5fr);
    column-gap: 2rem;
    row-gap: 0.9375rem;
}