.receiptContainer {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    gap: 1.25rem;
    border: 1px solid var(--primary-blue-50);
    border-radius: 0.625rem;
}

.checkInOut {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.priceBill {
    display: flex;
    flex-direction: column;
    gap: 0.94rem;
}

.rowBill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -0.5rem;
}

.rowBill2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -0.25rem;
    align-items: baseline;
}