.button {
    background: var(--primary-white-100);
    color: var(--primary-gold-120);
    border: 1px solid var(--primary-gold-120);
    height: 3.125rem;
    width: auto;    
}

.button:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}