.button {
    background: var(--primary-blue-100);
    color: var(--primary-gold-100);
    height: 5rem;
    width: 12.5rem;    

}

.button:hover {
    background: var(--primary-gold-120);
    color: var(--primary-white-100);
}
