.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mainBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.875rem;
    margin-top: 0.5rem;;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 37%;
}

.row1{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: start;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.details2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0.5rem;
}

.title {
    width: 6rem;
}

.row2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}