.recentsearchCardWrapper {
    display: flex;
    min-width: 17.5rem;
    height: 6.25rem;
    padding: 0.4375rem 0.9375rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid var(--primary-blue-50);
}

.recentsearchCardWrapper:hover {
    cursor: pointer;
    border: 1px solid var(--primary-blue-100);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.leftSide {
    width: 1.5rem;
}

.rightSide {
    display: flex;
    flex-direction: column;
    gap: 0.05rem;
}