.roomCardHighContainer {
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    border: 1px solid var(--primary-blue-50);
    height: auto;
    width: 25rem;
}

.imgContainer {
    height: 13.75rem;
    overflow: hidden;
    border-radius: 1.25rem 1.25rem 0 0;
    position: relative;
}

.imgWrapper {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
    transform-origin: center;
    border-radius: 1.25rem 1.25rem 0 0;
}

.infoContainer, .extraInfoContainer {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
}

.extraInfoContainer {
    border-top: 1px solid var(--primary-blue-50);
}

.breakfast {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row1, .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.row3 {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: baseline;
    margin-top: 1.56rem;
}

.row4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 0.5rem;
}

.price {
    display: flex;
    flex-direction: column;
}

.priceDetails {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    align-items: baseline;
}

.zoomedImage {
    transform: scale(1.1);
}