.title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 0;
    padding-right: 40px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 0.94rem;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    width: 33%;
    align-items: center;
    margin: 0 auto;
    gap: 1.25rem;
}