.headerWrapper {
    padding: 0 100px 0 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-blue-100);
    color: var(--primary-gold-100);
    margin-bottom: 2.5rem;
}

.leftSide {
    height: 60px;
}

.rightSide { 
    display: flex;
    flex-direction: row;
    gap: 25px;
}