.pageContainer {
    display: flex;   
    margin-top: 1.94rem;
    flex-direction: column;
}

.imagesContainer {
    display: grid;
    column-gap: 0.1rem;
    grid-template-columns: 1fr 2fr;
}

.firstOne {
    height: 17.6rem;
    object-fit: cover;
}

.others{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.1rem;
}

.item {
    height: 8.75rem;
    object-fit: cover;
}

.tabs {
    display: flex;
    margin-top: 1.25rem;
    justify-content: space-between;
    background-color: var(--primary-white-100);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.amenity, .room, .review {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.searchAgain {
    display: flex;
    gap: 1.875rem;
    width: 50vw;
}

.roomCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.25rem;
}

.numOfRooms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.policy {
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
}

.policyDetails {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-top: 0.6rem;
    
}

.ratingAndComment {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}